*{
  margin: 0;
  padding: 0;
}
html {
    background-color: black;
}

body {
    font-family: sans-serif;
    font-size: 1em;
    line-hieght: 1.5em;
}

#im1 {
    width: 50%;
    border-radius: 30px;
    transform: scale(0.7);
}

#im2 {
    border-radius: 30px;
    transform: scale(0.9);
    transform: translate(100px, -100px);
}

h1 {
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
    color: #ffd88e;
}

h2 {
    color: red;
    padding-top: 20px;
    text-transform: uppercase;
}

h3 {
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
    color: blue;
}

#main {
    border-radius: 50px;
    background-color: yellow;
    padding: 0cm 1em 1em;
    padding-top: 10px;
}

#foo {
    text-align: center;
    color: white;
    text-size: 0.55em;
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#item {
    float: right;
    font-family: Arial;
    color: white;
}


#men {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: black;
    transform: translate(680px, -10px);
    overflow: hidden;
}

#it {
    display: block;
    width: 120px;
    font-weight: bold;
    color: white;
    background-color: black;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}
.but {
  background-color:white;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
}

