h1{

    font-family:'Courier New', Courier, monospace;
    text-decoration:underline;
    font-style:italic;
    font-size:75px;
    font-weight:bold;
    word-spacing: 10pt;
    letter-spacing: 5pt;
    text-align:center;
    color:indigo;
    border-style:double;
    border-color:blue;
    padding:20px;
    border-radius:60px;
    box-shadow: 5px 10px 20px blue;
    background-image:linear-gradient(to bottom,rgb(197, 192, 192) 50%, #3C002F);
}

*{
    text-align:center;
}
body
{
    background:url(logo.jpg) no repeat center center fixed;
}
a{
    background-color:rgb(33, 245, 33) 50%
}
.button
{
    width:200px;
    height:60px;
    line-height:60px;
    text-align:center;
    font-size:30px;
    color:#FFFFFF;
    text-shadow: 1px 1px px rgba(0,0,0,0.3);
    user-select:none;
    border-radius:30px;
    box-shadow: 0 5px 10px white;
    background-image:linear-gradient(to bottom, rgb(33, 245, 33) 50%, #3C002F);
    position:relative;
    background-color:rgb(33, 245, 33) 50%;
}
input{
    widows: 100%;
    padding:12px 20px;
    box-sizing:border-box;
    margin: 8px 0px;
    border-radius:15px;
}
table{
    font-weight:bold;
    font-optical-sizing:
}
.image
{
    border-color:rgb(90, 207, 228);
    box-shadow: 5px 10px 15px white;
    border-radius:60px;
    border-style:double;
}
body
{
    background:url(bulb.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}